body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.orange-color {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 25px;
}
.half-width img {
  width: 80%;
}
.link_button {
  text-decoration: none;
  background-image: linear-gradient(orange, salmon);
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
}
.top-banner {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}
.experience-item {
  width: 40%;
  padding-left: 20px;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 51px 6px 49px 30px gray;
}
.experience-area {
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#web-dev-experience {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#full-stack-experience {
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
